.briefProductSection{
    min-height:80px;
    width: 100vw;
    /* background-color: #FFFFFF;
    box-shadow: 1px 1px 2px 0px #a1a3a4; */
    padding:1em;
}

.briefProductSection{
    text-align: center;
    display: flex;
}
.briefProductSectionContainer{
    margin-left:2em;
    color: #212128;
    font-weight: bold;
    /* font-size: small; */
}
.briefProductSectionContainer img{
    height:60px;
}
.productshelf_Product img{
    width:100%;
    height: 140px;
    object-fit: contain;
    padding-top:8px;
}
.alertWrapper{
}
.success{
    width:100%;
    padding:1em;
    margin:0;
    color: #FFFFFF;
    background-color: rgb(118, 153, 118);
}
