.cartOuterWrapper{
    background-color: #F1F3F6;
    width:100%;
    min-height:90vh;
    max-height:100%;
    padding:2em 4em;
    display:flex;
}

.displayItemSection{
    width:70%;
    background-color: #FFFFFF;
    border: 2px solid #E9ECEF;
}

.displayAmountSection{
    width:25%;
    min-height:25%;
    padding:1em;
    background-color: #FFFFFF;
    border:2px solid #E9ECEF;
}

.cart_Details_Section{
    padding:0 !important;
    margin:0;
}
.displayItemSection .cartCard{
    padding: 2em;
}

.cartCardOuter{
    display:flex;
    padding:1em;
}
.cartProductImage{
    width: 120px;
    flex:20%;
    align-items:center;
}
.cartProductTitle{
    flex:60%;
    line-height:2em;
    font-size:normal;
    font-weight:normal;
}
.cartProductDeliveryDate{
    flex:20%;
}
.cartController{
    width:2em;
    height:2em;
    line-height:2em;
    text-align:center;
    border:1px solid #000000;
    border-radius:50%;
    font-weight:bolder;
    cursor:pointer;
}

.cart_Details_Section tr{
    background-color: #E9ECEF;
}

.cart_Details_Section tr td{
    padding:12px;
}
.cart_Details_Total_Amount_Section td{
    border: 2px dotted tomato;
    padding:1em;
    color:red;
}
.displayAmountSection_CheckoutButton{
    padding:12px 12px;
    color: #FFFFFF;
    background-color: rgb(228, 28, 31);
    border:none;
    width:89%;
    cursor: pointer;    
}