*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.outerSectionHeader{
    background-color:#FFFFFF;
    width:100%;
    min-height:80px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    box-shadow: 0 0 8px rgb(217, 210, 210);
}
.brandname{
    padding-top:12px;
    margin-left:2em;
    width: 120px;
}

.outerSectionHeader form input[type="text"]:first-child{
    min-width: 250px;
    padding:12px;
    width:30vw;
    outline:none;
    border:none;
    margin-left: 12px;
    background-color: #E9ECEF;
    border-radius: 4px;
}
.outerSectionHeader form input[type="button"],.headerlogoutbtn{
    /* padding:9px; */
    outline:none;
    border:none;
    /* color:rgb(40,116,240); */
    color: #000000;
    font-weight: bolder;
    background-color: #FFFFFF;
    min-width:100px;
    margin-left:12px;
    cursor: pointer;
}
.headerOptions{
    color: black;
    font-weight: bolder;
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    font-size: 1em;
    margin:auto;
}

.headerOptions li:first-child{
    margin-left:34px;
}

.headerOptions li{
    margin-left: 2em;
}