.signupWrapperDiv{
    width:100%;
    height: calc(100vh - 4em);
    background-color: #E9ECEF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.signupWrapperDiv .signupInnerDiv{
    width: 30%;
    min-width:300px;
    height: calc(100vh - 8em);
    background-color: #FFFFFF;
    padding:1em;
    border-radius: 4px;
}
.signupWrapperDiv .signupInnerDiv h1{
    color: gray;
    font-size: x-large;
}
.signupWrapperDiv .signupInnerDiv input{
    width:100%;
    padding: 12px;
    border:1px solid #E9ECEF;
    outline: none;
    margin-top:2em;
}

.signupWrapperDiv .signupInnerDiv input[type='submit']
{
    margin-bottom: 1em;
    cursor: pointer;
}