.wishlist_Wrapper{
    max-width:100%;
    height:calc(100vh - 4em);
    background-color: #FFFFFF;
    padding:2em;
    /* display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    border-top:1px solid #E9ECEF;
}
.wishlist_Wrapper .wishlistHeading{
    color: #404040;
    font-size: xxx-large;
    text-align: center;
}
.wishlist_Wrapper i{
    background-color: #FFFFFF;
}
.wishlishcontant_table{
    border-collapse: collapse;
    margin:25px 0;
    font-size: 0.9em;
    width:100%;
    border-radius: 5px 5px 0 0;
    overflow:hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.wishlishcontant_table thead tr{
   background-color: gray;
   text-align: left;
   color:#FFFFFF;
   font-weight: bold;
}
.wishlishcontant_table th, .wishlishcontant_table td{
    padding: 12px 15px;
}
.wishlishcontant_table tbody tr{
    border-bottom: 1px solid #dddddd;
    /* font-size: large; */
}
.wishlishcontant_table tbody tr:nth-of-type(even){
    background-color: #F3F3F3;
}
.wishlishcontant_table tbody tr:last-of-type{
    border-bottom: 2px solid gray;
}
.wishlishcontant_table tbody tr td img{
    width:50px;
    height:50px;
    object-fit: contain;
}
.wishlishcontant_table tbody tr td i:first-child{
    vertical-align:1.2em;
    padding-right:8px;
    cursor: pointer;
    color:gray;
}
.wishlist_addToCart{
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    color: #FFFFFF;
    padding:6px 12px;
    border-radius: 25px;
    border:none;
    outline:none;
    cursor: pointer;
}
