{% extends 'baseheader.html' %}
{%load static%}

<!-- {%  block title%}Sign Up {% endblock %} -->
{% block body %}
<div class="signupWrapperDiv">
    <form action="registersignup" method="post">
        {% csrf_token %}
        <input type="text" name="username" required placeholder="Enter email">
        <input type="password" name="userpassword" required placeholder="password">
        <input type="text" name="fname" required placeholder="First name">
        <input type="text" name="lastname" required placeholder="Last name">
        <input type="number" name="mobileNo" required placeholder="Mobile Number">
        
        <input type="submit" value="Signup">
        <a href="#" class="signUpLink"><strong>Login</strong></a>
    </form>
    </div>
{% endblock %}