<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{%static 'css/header.css'%}">
    <link rel="stylesheet" href="{%static 'css/briefProductSection.css'%}">
    <link rel="stylesheet" href="{%static 'css/bannerImage.css'%}">
    <link rel="stylesheet" href="{%static 'css/productShowCase.css'%}">
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
    <link rel="stylesheet" href="{%static 'css/productinfo.css'%}">
    <link rel="stylesheet" href="{%static 'css/category.css'%}">
    <link rel="stylesheet" href="{%static 'css/cart.css'%}">
    <link rel="stylesheet" href="{%static 'css/wishlist.css'%}">
    <link rel="stylesheet" href="{%static 'css/checkoutdeliveryaddress.css'%}">
    <link rel="stylesheet" href="{%static 'css/paymentsection.css'%}">
    <link rel="stylesheet" href="{%static 'css/order.css'%}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="outerSectionHeader">
        <img src="{%static 'images/logo.png'%}" alt="logo" class="brandname">
        <form action="" method="get">
            <input type="text" placeholder="Search for Products, brands and name" name="searchBar">
            <input type="button" value="Login">
        </form>
            <ul class="headerOptions">
                <li>Become a Seller</li>
                {% if user.is_authenticated %}
                    <p style="margin-left:2em;">{{request.user}}</p>
                    <form action="/shop/logout" method="POST">
                        {% csrf_token %}
                        <input type="submit" name="Logout">
                    </form>
                {% else %}
                <li><a href="login">Login</a></li>
                <li><a href="signup">SignUp</a> </li>
                {% endif %}
            </ul>
        
    </header>
    {%block body%}{%endblock%}
</body>
</html>