{%extends 'shop/baseheader.html'%}
{%load static%}
{% block body %}
    <section class="cartOuterWrapper">
        <div class="displayItemSection">
            {%for item in params%}
            
            <div class="cartCard">
                <div class="cartCardOuter">
                    <img src="{{item.product_pic.url}}" alt="Product Image" class="cartProductImage">
                    <h4 class="cartProductTitle">{{item.product_Name}}<br><span>₹44,999₹32,99926% Off2 offers applied</h4>
                    <p class="cartProductDeliveryDate">Delivery by Fri Nov 4 | Free₹40</p>
                </div>
                <div>
                {%endfor%}
                    <button class="cartController">-</button>
                    <input type="text">
                    <button class="cartController">+</button>
                    <strong>Save for later</strong>
                    <strong>Remove</strong>
                </div>
            </div>
        </div>
    </section>
{%endblock%}