{%extends 'shop/baseheader.html'%}
{%load static%}
{% load poll_extras %}
{% block body %}
    <section class="cartOuterWrapper">
        <div class="displayItemSection">
            {%for item in params%}
            
            <div class="cartCard">
                <div class="cartCardOuter">
                    <img src="{{item.product_pic.url}}" alt="Product Image" class="cartProductImage">
                    <h4 class="cartProductTitle">{{item.product_Name}}<br><span><h1>{{item.product_OfferPrice}}</h1><strike>₹{{item.product_Actual_Price}}</strike> Off2 offers applied</h4>
                    <p class="cartProductDeliveryDate">Delivery by Fri Nov 4 | Free₹40</p>
                </div>
                <div>
                
                    <!-- <button class="cartController">-</button>
                    <input type="text">
                    <button class="cartController">+</button> -->
                    <div>
                        <select name="{{item.product_id}}" class="productQuantitySection">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <strong>Save for later</strong>
                    <a href="{% url 'cartorderremove' item.product_id %}"><strong><button>Remove</button></strong></a>
                </div>
            </div>
            {%endfor%}
        </div>

        <div class="displayAmountSection">
            <strong>PRICE DETAILS</strong>
            <table class="cart_Details_Section">
                <tr>
                    <td>Price ({{params | length}})</td>
                    <td>{{params | search_itemTotal:'product_OfferPrice'}}</td>
                </tr>
                <tr>
                    <td>discount</td>
                    <td>
                        {% with a=params|search_itemTotal:'product_OfferPrice' %}
                        {%with b=params|search_itemTotal:'product_Actual_Price'%}
                         {{b|subtract:a}}
                        {%endwith%}
                        {% endwith %}
                                                
                        </td>
                        
                </tr>
                <tr>
                    <td>Delivery Charges</td>
                    <td>{{shipping_Charge}}</td>
                </tr>
                <tr class="cart_Details_Total_Amount_Section">
                    <td>Total Amount</td>
                    <td>{{params|search_itemTotal:'product_OfferPrice'|add:shipping_Charge}}</td>
                </tr>
            </table>
            {%if params %}
            <a href="/shop/checkout/deliveryaddress"><button class="displayAmountSection_CheckoutButton">Checkout</button></a>
            {%endif%}
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        let productQuantitySection = document.querySelectorAll(".productQuantitySection");
        productQuantitySection.forEach(el => el.addEventListener('change', el => {
            // console.log(el.target.value);
            // console.log(el.target.name);
            modifyQuantity(el.target.value,el.target.name);
        }));


        function modifyQuantity(quantity,id){
        $.ajax({
        method:'POST',
        url:"{%url 'cartmodifyquantity'%}",
        data:{ 
            cartid:id,
            itemQuantity: quantity
        },
        success:function(e){
            alert(e.status);
        },
        error:function(data){
            alert("Fail");
        }
        })
    }

    </script>
{%endblock%}