{% extends 'shop/baseheader.html'%}

{% block body %}
<section class="categoryOuterBlock">
    <h1>Search item: {{search}}</h1><br>
    <div class="categoryCard">
        <img src="https://images-eu.ssl-images-amazon.com/images/I/31D2yvpU3ML._AC_SR400,600_.jpg" alt="Card Pic">
        <div class="categoryCardDisc">
            <strong>Fastrack</strong>
            <p>New Fastrack Reflex Play|AMOLED Display|100 + Watchfaces|in-Built</p>
            <h2>50000000</h2>
            <button>Add To CART</button>
            <button>Checkout</button>
        </div>
    </div>

    <div class="categoryCard">
        <img src="https://images-eu.ssl-images-amazon.com/images/I/31D2yvpU3ML._AC_SR400,600_.jpg" alt="Card Pic">
        <div class="categoryCardDisc">
            <strong>Fastrack</strong>
            <p>New Fastrack Reflex Play|AMOLED Display|100 + Watchfaces|in-Built</p>
            <h2>50000000</h2>
            <button>Add To CART</button>
            <button>Checkout</button>
        </div>
    </div>

    <div class="categoryCard">
        <img src="https://images-eu.ssl-images-amazon.com/images/I/31D2yvpU3ML._AC_SR400,600_.jpg" alt="Card Pic">
        <div class="categoryCardDisc">
            <strong>Fastrack</strong>
            <p>New Fastrack Reflex Play|AMOLED Display|100 + Watchfaces|in-Built</p>
            <h2>50000000</h2>
            <button>Add To CART</button>
            <button>Checkout</button>
        </div>
    </div>

    <div class="categoryCard">
        <img src="https://images-eu.ssl-images-amazon.com/images/I/31D2yvpU3ML._AC_SR400,600_.jpg" alt="Card Pic">
        <div class="categoryCardDisc">
            <strong>Fastrack</strong>
            <p>New Fastrack Reflex Play|AMOLED Display|100 + Watchfaces|in-Built</p>
            <h2>50000000</h2>
            <button>Add To CART</button>
            <button>Checkout</button>
        </div>
    </div>

    <div class="categoryCard">
        <img src="https://images-eu.ssl-images-amazon.com/images/I/31D2yvpU3ML._AC_SR400,600_.jpg" alt="Card Pic">
        <div class="categoryCardDisc">
            <strong>Fastrack</strong>
            <p>New Fastrack Reflex Play|AMOLED Display|100 + Watchfaces|in-Built</p>
            <h2>50000000</h2>
            <button>Add To CART</button>
            <button>Checkout</button>
        </div>
    </div>

    <div class="categoryCard">
        <img src="https://images-eu.ssl-images-amazon.com/images/I/31D2yvpU3ML._AC_SR400,600_.jpg" alt="Card Pic">
        <div class="categoryCardDisc">
            <strong>Fastrack</strong>
            <p>New Fastrack Reflex Play|AMOLED Display|100 + Watchfaces|in-Built</p>
            <h2>50000000</h2>
            <button>Add To CART</button>
            <button>Checkout</button>
        </div>
    </div>

    <div class="categoryCard">
        <img src="https://images-eu.ssl-images-amazon.com/images/I/31D2yvpU3ML._AC_SR400,600_.jpg" alt="Card Pic">
        <div class="categoryCardDisc">
            <strong>Fastrack</strong>
            <p>New Fastrack Reflex Play|AMOLED Display|100 + Watchfaces|in-Built</p>
            <h2>50000000</h2>
            <button>Add To CART</button>
            <button>Checkout</button>
        </div>
    </div>

    <div class="categoryCard">
        <img src="https://images-eu.ssl-images-amazon.com/images/I/31D2yvpU3ML._AC_SR400,600_.jpg" alt="Card Pic">
        <div class="categoryCardDisc">
            <strong>Fastrack</strong>
            <p>New Fastrack Reflex Play|AMOLED Display|100 + Watchfaces|in-Built</p>
            <h2>50000000</h2>
            <button>Add To CART</button>
            <button>Checkout</button>
        </div>
    </div>

    <div class="categoryCard">
        <img src="https://images-eu.ssl-images-amazon.com/images/I/31D2yvpU3ML._AC_SR400,600_.jpg" alt="Card Pic">
        <div class="categoryCardDisc">
            <strong>Fastrack</strong>
            <p>New Fastrack Reflex Play|AMOLED Display|100 + Watchfaces|in-Built</p>
            <h2>50000000</h2>
            <button>Add To CART</button>
            <button>Checkout</button>
        </div>
    </div>
</section>
{% endblock%}