{% extends 'shop/baseheader.html'%}

{% block body %}
<section class="categoryOuterBlock">
    <!-- <h1>Search item: {{search}}</h1><br> -->
    {% for item in pro_data%}
    
    <a href="{% url 'productinfo' item.product_Name item.product_id %}" style="text-decoration:none;">
    <div class="categoryCard">
        <img src="{{ MEDIA_URL }}/media/{{item.product_Catelog}}" alt="Card Pic">
        <div class="categoryCardDisc">
            <strong class="productinfoProductName">{{item.product_Name}}</strong>
            <p class="productinfoProductDesc">{{item.product_desc}}</p>
            <h6 class="productinfoProductPrice">₹{{item.product_OfferPrice}}</h6>
            <a href="{%url 'cart' item.product_id %}"><button class="ProductInfoaddToCart">Add To CART</button></a>
            <!--   -->
        </div>
    </div>
    </a>
    {%endfor%}

   

</section>
<div class="pageinationWrapper">
    {% if pro_data.has_previous %}
    <a href="?page={{ pro_data.previous_page_number }}"> <i class="fa fa-chevron-left"></i></a>
    {%endif%}
    <a class="pagination_currentpage">{{ pro_data.number }} of  {{ pro_data.paginator.num_pages }}</a>
    {% if pro_data.has_next %}
    <a href="?page={{ pro_data.next_page_number }}"><i class="fa fa-chevron-right"></i> </a>
    {%endif%}
</div>
{% endblock%}