{%extends 'shop/baseheader.html'%}
{%load static%}
{%block title%}Checkout Delivery Address{%endblock%}


{%block body%}
<section class="delivery_Section_Outer">
<section class="delivery_Section_Wrapper">
    <h1 >Select Delivery Address</h1>
    
    <form action="/shop/checkout/paymentsection/{{productid}}" method="post" id="deliverySectionForm">
        {% csrf_token %}
        <h4 class="AddressHeadline">Select or add an address</h4>
        <div class="DeliverySectioncardWrapper">
            <div class="DeliverySectionCard addNewDeliveryAddress" id="add_NewAddress">
                <img src="{%static 'images/mailbox.svg'%}" alt="mailbox">
                <p>Add new address</p>
            </div>

            {%for item in params%}
            <div class="DeliverySectionCard" for="{{item.address_id}}">
                <strong>Address {{ forloop.counter }}</strong><br><br>
                <b>{{item.fullname}}</b><br>
                <input type="radio" required name="deliveryaddress" value="{{item.address_id}}" id="{{item.address_id}}"><label for="{{item.address_id}}">&nbsp;{{item.flatno}},<span> {{item.area}}</span>, <span>{{item.city}}</span>, <span>{{item.state}}</span>, <span>{{item.pincode}}</span>, <span>{{item.deliver_country}}</span>, <span>Phone number:{{item.mobileno}}</span></label>
            </div>
            {%endfor%}

              <!-- {%for item in params%}
        <div class="deliveryCard"><input type="radio" required name="deliveryaddress" value="{{item.area}}" id="{{item.area}}"><label for="{{item.area}}"><b>{{item.fullname}}  </b>{{item.flatno}},<span> {{item.area}}</span>, <span>{{item.city}}</span>, <span>{{item.state}}</span>, <span>{{item.pincode}}</span>, <span>{{item.deliver_country}}</span>, <span>Phone number:{{item.mobileno}}</span></label></div>
        {%endfor%}

        <a href="#" id="add_NewAddress">add a new address</a>
        <br>
        <div class='checkoutDeliveryAddressSubmission'>
        <input type="submit" value="Use this address"> -->
        <div class='checkoutDeliveryAddressSubmission'>
            <input type="submit" value="Use this address">
        </div>
    </form>
</section>
</section>
<!-- Side Bar -->
<section class="deliverySection_Sidebar">
    <button class="deliverySection_SidebarClosebtn">X</button>
    <div>
        <h4>Enter a new delivery address</h4>
        <form id="deliveryAddressForm">
            <label>Country/Region</label>
            <select name="country">
                <option value="INDIA">INDIA</option>
            </select>
            <label>Full name</label>
            <input type="text" name="fullname">
            <label>Mobile number</label>
            <input type="number" name="mobilenumber">
            <label>Pin code</label>
            <input type="number" name="pincode">
            <label>Flat, House no., Building, Company, Apartment</label>
            <input type="text" name="houselocation">
            <label>Area, Street, Sector, Village</label>
            <input type="text" name="area">
            <label>Landmark</label>
            <input type="text" name="Landmark">
            <label>Town/City</label>
            <input type="text" name="town">
            <label>State</label>
            <select name="state">
                <option value="Uttar Pradesh">Uttar Pradesh</option>
            </select>
            <input type="submit" value="Use this address">
        </form>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    let deliverySection_Sidebar = document.getElementsByClassName("deliverySection_Sidebar")[0];
    let add_NewAddress = document.querySelector("#add_NewAddress");
    let deliverySection_SidebarClosebtn = document.getElementsByClassName("deliverySection_SidebarClosebtn")[0];
    add_NewAddress.addEventListener('click',()=>{
        deliverySection_Sidebar.classList.toggle('deliverySection_SidebarAppear');
    })

    deliverySection_SidebarClosebtn.addEventListener('click',()=>{
        deliverySection_Sidebar.classList.toggle('deliverySection_SidebarAppear');
    })
    
    let deliveryAddressForm = document.getElementById("deliveryAddressForm");
    let DeliverySectioncardWrapper = document.getElementsByClassName("DeliverySectioncardWrapper")[0];
    deliveryAddressForm.addEventListener("submit",(e)=>{
        e.preventDefault();
        // 
        $.ajax({
        method:'POST',
        url:"{%url 'deliveryaddresssubmission'%}",
        data:{
            country : deliveryAddressForm.elements[0].value,  
            fullname:deliveryAddressForm.elements[1].value,
            mobileno : deliveryAddressForm.elements[2].value,  
            pincode:deliveryAddressForm.elements[3].value,
            flatno : deliveryAddressForm.elements[4].value,  
            area:deliveryAddressForm.elements[5].value,
            landmark : deliveryAddressForm.elements[6].value,  
            city:deliveryAddressForm.elements[7].value,
            state : deliveryAddressForm.elements[8].value,  
        },
        success:function(e){
            alert("New address has been Sucessfully added");
            DeliverySectioncardWrapper.innerHTML+= '<div class="DeliverySectionCard"><strong>Newly added address </strong><br><br><b>'+e.fullname+'</b><br><input type="radio" required name="deliveryaddress" value="'+e.address_id+'" id="'+e.address_id+'"><label for="'+e.address_id+'">'+e.flatno+',<span> '+e.area+'</span>, <span>'+e.city+'</span>, <span>'+e.state+'</span>, <span>'+e.pincode+'</span>, <span>'+e.country+'</span>, <span>Phone number:'+e.mobileno+'</span></label></div>';
            deliverySection_Sidebar.classList.toggle('deliverySection_SidebarAppear');
        },
        error:function(data){
            alert("Fail");
        }
        })

        // 

    })
</script>
{%endblock%}