{% extends 'shop/baseheader.html' %}
{%load static%}
{% block title%}Attire{%endblock%}
{% block css %}briefProductSection{%endblock%}


{%block body%}
{%if messages%}
    <div class="alertWrapper">
    <ul class="messages">
        {%for message in messages%}
        <li{% if message.tags %} class="{{message.tags}}" {%endif%}>{{message}}</li>
        {%endfor%}
    </ul>
    </div>
    {%endif%}
<section class="briefProductSection">
    <div class="briefProductSectionContainer"><img src="{%static 'images/topOffer.webp'%}"><p>Top Offers</p></div>
    <div class="briefProductSectionContainer"><img src="{%static 'images/mobiles&Tablets.webp'%}"><p>Top Offers</p></div>
    <div class="briefProductSectionContainer"><img src="{%static 'images/topOffer.webp'%}"><p>Top Offers</p></div>
    <div class="briefProductSectionContainer"><img src="{%static 'images/topOffer.webp'%}"><p>Top Offers</p></div>
</section>
<!-- Banner Section -->
<section class="bannerSection">
    <div class="bannerImage"></div>
</section>

<!-- Product Showcase Section -->
<section class="productShowCase">
    {%for item_name,item_value in params.items%} 
    <section class="productshelfblock">
        <!-- <button class="left" >Left</button>
        <button class="right">Right</button> -->
        <h1 class="productshelfblockheading">{{item_name}}</h1>
        <div class="productshelf">
        
        {%for sub_value in item_value%} 
        <a href="{{sub_value.deshboard_product_URL}}">
        <div class="productshelf_Product">
            <img src="{{sub_value.deshboard_Product_Catelog.url}}">
            <div class="productshelf_ProductDetails">
                <label class="actionPointlabel" >{{sub_value.deshboard_Product_Description}}</label>
                <p class="productshelf_ProductDetailsName">{{sub_value.deshboard_Product_Name}}</p>
            </div>
        </div>
        </a>       
        {%endfor%}
    </div>
    </section>
    {%endfor%}
</section>
<script>
    leftTrigger = document.getElementsByClassName("left");
    for(i=0;i<leftTrigger.length;i++){
    leftTrigger[i].addEventListener("click",(e)=>{
        // alert(e.target.parentElement.style.color ="red");
    })}
</script>

{%endblock%}