{% extends 'shop/baseheader.html' %}
{%load static%}
{% block title%}Attire{%endblock%}
{% block css %}briefProductSection{%endblock%}


{%block body%}
<section class="briefProductSection">
    <div class="briefProductSectionContainer"><img src="{%static 'images/topOffer.webp'%}"><p>Top Offers</p></div>
    <div class="briefProductSectionContainer"><img src="{%static 'images/mobiles&Tablets.webp'%}"><p>Top Offers</p></div>
    <div class="briefProductSectionContainer"><img src="{%static 'images/topOffer.webp'%}"><p>Top Offers</p></div>
    <div class="briefProductSectionContainer"><img src="{%static 'images/topOffer.webp'%}"><p>Top Offers</p></div>
</section>
<!-- Banner Section -->
<section class="bannerSection">
    <div class="bannerImage"></div>
</section>

<!-- Product Showcase Section -->
<section class="productShowCase">
    <section class="productshelfblock">
        <button class="left" >Left</button>
        <button class="right">Right</button>
        <h1 class="productshelfblockheading">Blockbuster Deals</h1>
        <div class="productshelf">
        <div class="productshelf_Product">
            <img src="{%static 'images/Mobile1.jpg'%}">
            <div class="productshelf_ProductDetails">
                <label class="actionPointlabel" >Up to 9500 off</label>
                <p class="productshelf_ProductDetailsName">Redmi 10A | Starting from 6999</p>
            </div>
        </div>
        

     <div class="productshelf_Product">
            <img src="{%static 'images/redmi.jpg'%}">
            <div class="productshelf_ProductDetails">
                <label class="actionPointlabel" >Up to 9500 off</label>
                <p class="productshelf_ProductDetailsName">Redmi 10A | Starting from 6999</p>
            </div>
        </div>
 
        <div class="productshelf_Product">
            <img src="{%static 'images/oneplus.jpg'%}">
            <div class="productshelf_ProductDetails">
                <label class="actionPointlabel" >Up to 9500 off</label>
                <p class="productshelf_ProductDetailsName">Redmi 10A | Starting from 6999</p>
            </div>
        </div>

        <div class="productshelf_Product">
            <img src="{%static 'images/watch.jpg'%}">
            <div class="productshelf_ProductDetails">
                <label class="actionPointlabel" >Up to 9500 off</label>
                <p class="productshelf_ProductDetailsName">Redmi 10A | Starting from 6999</p>
            </div>
        </div> 

        <div class="productshelf_Product">
            <img src="{%static 'images/redmi.jpg'%}">
            <div class="productshelf_ProductDetails">
                <label class="actionPointlabel" >Up to 9500 off</label>
                <p class="productshelf_ProductDetailsName">Redmi 10A | Starting from 6999</p>
            </div>
        </div>
 
        <div class="productshelf_Product">
            <img src="{%static 'images/oneplus.jpg'%}">
            <div class="productshelf_ProductDetails">
                <label class="actionPointlabel" >Up to 9500 off</label>
                <p class="productshelf_ProductDetailsName">Redmi 10A | Starting from 6999</p>
            </div>
        </div>

        <div class="productshelf_Product">
            <img src="{%static 'images/watch.jpg'%}">
            <div class="productshelf_ProductDetails">
                <label class="actionPointlabel" >Up to 9500 off</label>
                <p class="productshelf_ProductDetailsName">Redmi 10A | Starting from 6999</p>
            </div>
        </div> 

    </div>
    </section>
</section>
<script>
    leftTrigger = document.getElementsByClassName("left");
    for(i=0;i<leftTrigger.length;i++){
    leftTrigger[i].addEventListener("click",(e)=>{
        // alert(e.target.parentElement.style.color ="red");
    })}
</script>

{%endblock%}