{%extends 'shop/baseheader.html'%}
{%block title%}Payment Section{%endblock%}
{% load poll_extras %}
{%load static%}
{%block body%}
<section class="paymentsectionWrapper">
    <div class="paymentsection">
        <form id="promocode_form">
            <input type="text" name="promocode" placeholder="Promo Code">
            <input type="submit" value="Apply">
        </form>
        {%if promocode_qry%}
        <div class="viewallOffers">
            <h1>All Offers</h1>
            <ul id="viewallOffersListWrapper">
                {%for promo in promocode_qry%}
                <li class="viewallOffersListDesc">{{promo.promocode_desc}} <mark class="viewallOffersListItem">{{promo.promocode}}</mark></li>
                {%endfor%}
            </ul>
        </div>
        {%endif%}
    </div>
    <div class="">
        <div class="displayAmountSection">
            <div style="width:100%;">
            <div>
                <strong>PRICE DETAILS</strong>
            </div>
            <div class="cart_Details_SectionWrapperSection">
            <table class="cart_Details_Section">
        <table class="cart_Details_Section">
            <tr>
                <td>Price {{params | length}}</td>
                <td id="productprice">{{params | search_itemTotal:'product_OfferPrice'}}</td>
            </tr>
            <tr>
                <td>discount</td>
                <td>
                    {% with a=params|search_itemTotal:'product_OfferPrice' %}
                    {%with b=params|search_itemTotal:'product_Actual_Price'%}
                     {{b|subtract:a}}
                    {%endwith%}
                    {% endwith %}
                                            
                    </td>   
            </tr>
            <tr>
                <td>Delivery Charges</td>
                <td>{{shipping_Charge}}</td>
            </tr>
            <tr class="cart_Details_Total_Amount_Section">
                <td>Total Amount</td>
                <td id="Finalamount">{{params|search_itemTotal:'product_OfferPrice'|add:shipping_Charge}}</td>
            </tr>
           
        </table>
        {% if cartflag %}
        <a href="/shop/checkout/pay"><button class="displayAmountSection_CheckoutButton">Payment</button></a>
        {%else%}
        <a href="/shop/checkout/pay/{{params.0.product_id}}" ><button class="displayAmountSection_CheckoutButton">Payment</button></a>
        {%endif%}
    </div>
        <p class="displayAmountSectionOfferAmountMessage"></p>
    
    </div>
</div>
</div>
</section>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    let promocode_form = document.getElementById("promocode_form");
    let productprice = document.getElementById("productprice");
    let Finalamount = document.getElementById("Finalamount");
    let displayAmountSectionOfferAmountMessage = document.getElementsByClassName("displayAmountSectionOfferAmountMessage")[0];
    promocode_form.addEventListener("submit",(e)=>{
        e.preventDefault();

        promocodefun(promocode_form.elements[0].value);
        //
        
        //
    })

//     function getEventTarget(e) {
//     e = e || window.event;
//     return e.target || e.srcElement; 
// }

    let viewallOffersListItem = document.querySelectorAll(".viewallOffersListItem");
    viewallOffersListItem.forEach(el => el.addEventListener('click', el => {
        alert(el.target.innerText);
        promocodefun(el.target.innerText);
    }))

    function promocodefun(promocode){
        $.ajax({
        method:'POST',
        url:"{%url 'promocodevalidate'%}",
        data:{
            promocode : promocode,  
            productprice:productprice.innerText
        },
        success:function(e){
            alert("Sucessfully Done");
            productprice.innerText = e.promocodeamt;
            Finalamount.innerText = e.promocodeamt;
            displayAmountSectionOfferAmountMessage.innerText = promocode+' Promocode applied 🎉';            
        },
        error:function(data){
            alert("Fail");
        }
        })
    }

</script>
{%endblock%}

