{% extends 'shop/baseheader.html' %}
{% block title%} productinfo {% endblock %}

{% block body %}
<section class="outerProductInfo">
    {% for item in param%}
    <div class="ProductCatelogImageWrapper">
    <div class="ProductCatelogImage">
        <a href="{%url 'wishlist' item.product_id %}"><span class="wishlishIcon"><i class="fa fa-heart"></i></span></a>
        <img src="{{MEDIA_URL}}/media/{{item.product_Catelog}}" alt="Catelog Image">
    </div>
    <a href="{%url 'cart' item.product_id %}"><button class="productCatelogActionButton">Add to Cart</button></a>
    <button class="productCatelogActionButton Checkout">Checkout</button>
    </div>
    <div class="ProductCatelogDetails">
        <p class="ProductCatelogDetails_ProductName">{{item.product_Name}}</p>
        <p class="quickRating_ProductCatelogDetails"><span class="quickRating_ProductCatelogDetails_RatingIcon">4.2<i class="fa fa-star"></i></span>42,370 Ratings & 4,237 Reviews</p>
        <h1 class="ProductCatelogDetails_Price">₹{{item.product_OfferPrice}}<strike>₹{{item.product_Price}}</strike><span class="">29% off</span></h1>

        <div class="offerSection">
            <p>Available Offers</p>
            <ul>
                <li><strong class="offerProvider">Bank Offer</strong> 10% off on SBI Credit Card, up to ₹1,250, on orders of ₹5000 and above</li>
                <li><strong class="offerProvider">Bank Offer</strong> 10% off on SBI Credit Card, up to ₹1,250, on orders of ₹5000 and above</li>
                <li><strong class="offerProvider">Bank Offer</strong> 10% off on SBI Credit Card, up to ₹1,250, on orders of ₹5000 and above</li>
                <li><strong class="offerProvider">Bank Offer</strong> 10% off on SBI Credit Card, up to ₹1,250, on orders of ₹5000 and above</li>
            </ul>
        </div>

        <div class="">
            <table >
                <tr>
                    <td>Color</td>
                    <td class="productColor"><img src="https://rukminim1.flixcart.com/image/60/60/l19m93k0/mobile/w/0/6/-original-imagcv2dcyjzcmvd.jpeg?q=20"></td>
                    <td class="productColor"><img src="https://rukminim1.flixcart.com/image/60/60/l19m93k0/mobile/w/0/6/-original-imagcv2dcyjzcmvd.jpeg?q=20"></td>
                    <td class="productColor"><img src="https://rukminim1.flixcart.com/image/60/60/l19m93k0/mobile/w/0/6/-original-imagcv2dcyjzcmvd.jpeg?q=20"></td>
                </tr>
            </table>
        </div>

        <div class="productSpecifications">
            <table>
                <tr>
                    <td>Specifications</td>
                </tr>
                <tr>
                    <td>In the Box</td>
                    <td>Charger</td>
                </tr>
            </table>
        </div>

    </div>
    {%endfor%}
</section>
{% endblock %}