{% extends 'shop/baseheader.html' %}
{% block title%} productinfo {% endblock %}
{% load poll_extras %}
{% block body %}
<section class="outerProductInfo">
    <div class="ProductCatelogImageWrapper">
    <div class="ProductCatelogImage">
        <a href="{%url 'wishlist' params.product_id %}"><span class="wishlishIcon"><i class="fa fa-heart"></i></span></a>
        <img src="{{MEDIA_URL}}/media/{{params.product_Catelog}}" alt="Catelog Image">
    </div>

    {%if params.product_quantity != 0 %}
    <a href="{%url 'cart' params.product_id %}"><button class="productCatelogActionButton">Add to Cart</button></a>
    <button class="productCatelogActionButton Checkout">Checkout</button>
    {%else%}
    <a href=""><button class="productCatelogNotifyActionButton">Notify You</button></a>
    {%endif%}
    </div>
    <div class="ProductCatelogDetails">
        <p class="ProductCatelogDetails_ProductName">{{params.product_Name}}</p>
        <p class="quickRating_ProductCatelogDetails"><span class="quickRating_ProductCatelogDetails_RatingIcon">4.2<i class="fa fa-star"></i></span>42,370 Ratings & 4,237 Reviews</p>
        {%if params.product_quantity != 0 %}
        <h1 class="ProductCatelogDetails_Price">₹{{params.product_OfferPrice}}<strike>₹{{params.product_Price}}</strike><span class="">29% off</span></h1>
        {%else%}
        <strong class="notifyMessage">This Product is not available now, please click on notify button if you want to get notification once it get back</strong>
        {%endif%}
        <div class="offerSection">
            <p>Available Offers</p>
            <ul>
                <li><strong class="offerProvider">Bank Offer</strong> 10% off on SBI Credit Card, up to ₹1,250, on orders of ₹5000 and above</li>
                <li><strong class="offerProvider">Bank Offer</strong> 10% off on SBI Credit Card, up to ₹1,250, on orders of ₹5000 and above</li>
                <li><strong class="offerProvider">Bank Offer</strong> 10% off on SBI Credit Card, up to ₹1,250, on orders of ₹5000 and above</li>
                <li><strong class="offerProvider">Bank Offer</strong> 10% off on SBI Credit Card, up to ₹1,250, on orders of ₹5000 and above</li>
            </ul>
        </div>

        <div class="">
            <table >
                <tr>
                    <td>Color</td>
                    <td class="productColor"><img src="https://rukminim1.flixcart.com/image/60/60/l19m93k0/mobile/w/0/6/-original-imagcv2dcyjzcmvd.jpeg?q=20"></td>
                    <td class="productColor"><img src="https://rukminim1.flixcart.com/image/60/60/l19m93k0/mobile/w/0/6/-original-imagcv2dcyjzcmvd.jpeg?q=20"></td>
                    <td class="productColor"><img src="https://rukminim1.flixcart.com/image/60/60/l19m93k0/mobile/w/0/6/-original-imagcv2dcyjzcmvd.jpeg?q=20"></td>
                </tr>
            </table>
        </div>

        <div class="productSpecifications">
            <table>
                <tr>
                    <td>Specifications</td>
                </tr>
                <tr>
                    <td>In the Box</td>
                    <td>Charger</td>
                </tr>
            </table>
        </div>

    </div>
</section>
<section class="productCommentSectionOuter">
    <form action="/shop/productCommentSubmission" method="post">
        {% csrf_token %}
        <input type="text" name="comment" placeholder="Please type your Comment">
        <input type="hidden" name="productid" value="{{params.product_id}}">
        <input type="submit" value="Submit">
    </form>

    {%for item in comments%}
    <section class="productCommentSectionWrapper">
    <span class="commentProfilePic">{{item.firstname|slice:"1"}}{{item.lastname|slice:"1"}}</span>
    <div>
    <strong>{{item.firstname}}</strong><span class="commentPostDate">{{item.date|date:"j M Y"}}</span>
    {%if item.rating != 0%}
    <i class="fa fa-star commentPostRatingStar">&nbsp;{{item.rating}}</i>
    {%endif%}
    <br>
    <p>{{item.comment}}</p>
    <form action="/shop/productCommentSubmission" method="post">
        {% csrf_token %}
        <input type="text" name="comment" placeholder="Please type your Reply">
        <input type="hidden" name="productid" value="{{params.product_id}}">
        <input type="hidden" name="parentid" value="{{item.sno}}">
        <input type="submit" value="Submit">
    </form>
    </div>
    </section>
    

    <!-- Reply Section -->
    {%for reply in replies|getValue:item.sno%}
    <section class="productCommentSectionWrapper replySectionCard">
        <span class="commentProfilePic">{{reply.firstname|slice:"1"}}{{reply.lastname|slice:"1"}}</span>
        <div>
        <strong>{{reply.firstname}}</strong><span class="commentPostDate">{{item.date|date:"j M Y"}}</span>
        {%if reply.rating != 0%}
        <i class="fa fa-star commentPostRatingStar">&nbsp;{{reply.rating}}</i>
        {%endif%}
        <br>
        <p>{{reply.comment}}</p>
        </div>
    </section>
    {%endfor%}
    {%endfor%}

</section>
{% endblock %}