{% extends 'shop/baseheader.html' %}
{% block title%} productinfo {% endblock %}
{% load poll_extras %}
{% block body %}
<div>
<section class="outerProductInfo">
    <div class="ProductCatelogImageWrapper">
    <div class="ProductCatelogImage">
        <a href="{%url 'wishlist' params.product_id %}"><span class="wishlishIcon"><i class="fa fa-heart"></i></span></a>
        <img src="{{MEDIA_URL}}/media/{{params.product_Catelog}}" alt="Catelog Image">
    </div>

    {%if params.product_quantity != 0 %}
    <a href="{%url 'cart' params.product_id %}"><button class="productCatelogActionButton">Add to Cart</button></a>
    <a href="/shop/checkout/deliveryaddress/{{params.product_id}}"><button class="productCatelogActionButton Checkout">Checkout</button></a>
    {%else%}
    <a href=""><button class="productCatelogNotifyActionButton">Notify You</button></a>
    {%endif%}
    </div>
    <div class="ProductCatelogDetails">
        <p class="ProductCatelogDetails_ProductName">{{params.product_Name}}</p>
        
            {%if total_rating != 0 %}
            <p class="quickRating_ProductCatelogDetails"><span class="quickRating_ProductCatelogDetails_RatingIcon">{{overall_productRating}}<i class="fa fa-star"></i></span> Ratings 
            {%endif%}
            {%if noOfReview != 0 %}
            & {{noOfReview}} Reviews</p>
            {%else%}
            <p style="color:rgb(14, 90, 131);">Be the first to Review this product</p>
            {%endif%}
        {%if params.product_quantity != 0 %}
        <h1 class="ProductCatelogDetails_Price">₹{{params.product_OfferPrice}}<strike>₹{{params.product_Price}}</strike><span class="">{{params.product_OfferPrice|percentage:params.product_Price}} Off</span></h1>
        {%else%}
        <strong class="notifyMessage">This Product is not available now, please click on notify button if you want to get notification once it get back</strong>
        {%endif%}
        <div class="offerSection">
            <p>Available Offers</p>
            <ul>
                {%for promocode in promocode_offer_qry%}
                <li><strong class="offerProvider">{{promocode.promocode_provider}} </strong>{{promocode.promocode_desc}}</li>
                {%endfor%}
            </ul>
        </div>

        <div class="">
            <!-- <table >
                <tr>
                    <td>Color</td>
                    <td class="productColor"><img src="https://rukminim1.flixcart.com/image/60/60/l19m93k0/mobile/w/0/6/-original-imagcv2dcyjzcmvd.jpeg?q=20"></td>
                    <td class="productColor"><img src="https://rukminim1.flixcart.com/image/60/60/l19m93k0/mobile/w/0/6/-original-imagcv2dcyjzcmvd.jpeg?q=20"></td>
                    <td class="productColor"><img src="https://rukminim1.flixcart.com/image/60/60/l19m93k0/mobile/w/0/6/-original-imagcv2dcyjzcmvd.jpeg?q=20"></td>
                </tr>
            </table> -->
        </div>

        {%if product_feature %}
        <div class="productSpecifications">
            <table>
                <tr>
                    <td>Specifications</td>
                </tr>
                
                {%for specification in product_feature%}
                <tr>
                    <td>{{specification.product_feature_Name}}</td>
                    <td>{{specification.product_feature_Value}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
        {%endif%}

    </div>
</section>



<section class="productCommentSectionOuter">
    <div class="productCommentSectionLeftSide">
    {% if comments %}
    {%if permissionScope%}
    <form action="/shop/productCommentSubmission" method="post">
        {% csrf_token %}
        <input type="text" name="comment" placeholder="Please type your Comment">
        <input type="hidden" name="productid" value="{{params.product_id}}">
        <input type="submit" value="Submit">
    </form>
    {%endif%}
    {%for item in comments%}
    <section class="productCommentSectionWrapper">
    <span class="commentProfilePic">{{item.firstname|slice:"1"}}{{item.lastname|slice:"1"}}</span>
    <div>
    <strong>{{item.firstname}}</strong><span class="commentPostDate">{{item.date|date:"j M Y"}}</span>
    {%if item.rating != 0%}
    <i class="fa fa-star commentPostRatingStar">&nbsp;{{item.rating}}</i>
    {%endif%}
    <br>
    <p>{{item.comment}}</p>
    {%if permissionScope%}
    <form action="/shop/productCommentSubmission" method="post">
        {% csrf_token %}
        <input type="text" name="comment" placeholder="Please type your Reply">
        <input type="hidden" name="productid" value="{{params.product_id}}">
        <input type="hidden" name="parentid" value="{{item.sno}}">
        <input type="submit" value="Submit">
    </form>
    {%endif%}
    </div>
    </section>
    

    <!-- Reply Section -->
    {%for reply in replies|getValue:item.sno%}
    <section class="productCommentSectionWrapper replySectionCard">
        <span class="commentProfilePic">{{reply.firstname|slice:"1"}}{{reply.lastname|slice:"1"}}</span>
        <div>
        <strong>{{reply.firstname}}</strong><span class="commentPostDate">{{item.date|date:"j M Y"}}</span>
        {%if reply.rating != 0%}
        <i class="fa fa-star commentPostRatingStar">&nbsp;{{reply.rating}}</i>
        {%endif%}
        <br>
        <p>{{reply.comment}}</p>
        </div>
    </section>
    {%endfor%}
    {%endfor%}
    </div>
    {%endif%}

    {%if overall_productRating%}
    <div class="productCommentSectionRightSide">
        <h4 class="productCommentSectionRightSideHeading">Ratings&nbsp;<i class="fa fa-star"></i></i></h4>
        <div class="productCommentSectionRightSideInner">
            <div class="productCommentSectionRightSideInnerFirst">
                <h1>{{overall_productRating}} <i class="fa fa-star" style="color:yellow;"></i></h1>
                <p>{{noOfBuyer}} verified buyers</p>
            </div>
            <div class="productCommentSectionRightSideInnerSecond">
                <span><i class="fa fa-star commentPostRatingStar">1</i><progress id="file" value="{{rating.first}}" max="{{total_rating}}"> 32% </progress>&nbsp;{{rating.first}}</span><br>
                <span><i class="fa fa-star commentPostRatingStar">2</i><progress id="file" value="{{rating.second}}" max="{{total_rating}}"> 32% </progress>&nbsp;{{rating.second}}</span><br>
                <span><i class="fa fa-star commentPostRatingStar">3</i><progress id="file" value="{{rating.third}}" max="{{total_rating}}"> 32% </progress>&nbsp;{{rating.third}}</span><br>
                <span><i class="fa fa-star commentPostRatingStar">4</i><progress id="file" value="{{rating.four}}" max="{{total_rating}}"> 32% </progress>&nbsp;{{rating.four}}</span><br>
                <span><i class="fa fa-star commentPostRatingStar">5</i><progress id="file" value="{{rating.five}}" max="{{total_rating}}"> 12% </progress>&nbsp;{{rating.five}}</span><br>
            </div>
        </div>
    </div>
    {%endif%}

</section>

{% endblock %}