{% extends 'shop/baseheader.html' %}
{%load static%}

<!-- {%  block title%}Sign Up {% endblock %} -->
{% block body %}
<div class="signupWrapperDiv">
    <form action="registersignup" method="post" class="signupInnerDiv">
        {% csrf_token %}
        <h1>Sign Up</h1>
        <input type="text" name="username" required placeholder="Enter email">
        <input type="password" name="userpassword" required placeholder="password">
        <input type="text" name="fname" required placeholder="First name">
        <input type="text" name="lastname" required placeholder="Last name">
        <input type="number" name="mobileNo" required placeholder="Mobile Number">
        
        <input type="submit" value="Signup"><br>
        <a href="/shop/login" class="signUpLink"><strong>Login</strong>
    </form>
    </div>
{% endblock %}