{%extends 'shop/baseheader.html'%}
{% block body%}

<section class="wishlist_Wrapper">
    <h1 class="wishlistHeading"><i class="fa fa-heart"></i><br>Your Wishlist</h1>
    <table class="wishlishcontant_table">
        <thead>
        <tr>
            <th></th>
            <th>Product name</th>
            <th>Unit price</th>
            <th>Stock status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {%for item in params%}
        <tr>
            <td style="width:auto;"><i class="fa fa-trash"></i><img src="{{item.product_pic.url}}" alt="wishlist_item"></td>
            <td>{{item.product_Name}}</td>
            <td>{{item.product_price}}</td>
            <td>{% if item.product_Quantity > 0 %}In Stock{%else%}Sold out{%endif%}</td>
            <td><a href="{%url 'cart' item.product_id %}"><button class="wishlist_addToCart">Add to cart</button></a></td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</section>
{%endblock%}