{%extends 'shop/baseheader.html'%}
{% block body%}

<section class="wishlist_Wrapper">
    <h1>Your WishList</h1>
    {%for item in params%}
    <div class="wishlist_card_outer">
        <img src="{{item.product_pic.url}}" alt="wishlist_item" class="wishlist_card_img">
        <div>
            <p class="wishlist_card_title">{{item.product_Name}}</p>
            <a href="{%url 'cart' item.product_id %}"><button>Add to Cart</button></a>
        </div>
    </div>
    {%endfor%}
</section>
{%endblock%}