{%extends 'shop/baseheader.html'%}
{% block body%}

<section class="wishlist_Wrapper">
    <h1>Your WishList</h1>
    <div class="wishlist_card_outer">
        <img src="https://rukminim1.flixcart.com/image/312/312/xif0q/television/l/d/q/-original-imaggsnkparsege3.jpeg?q=70" alt="wishlist_item" class="wishlist_card_img">
        <div>
            <p class="wishlist_card_title">Mi X Series 125 cm (50 inch) Ultra HD (4K) LED Smart Android TV with Dolby Vision & 30W Dolby Audio (2...</p>
            <a href="{%url 'cart' %}"><button>Add to Cart</button></a>
        </div>
    </div>
</section>
{%endblock%}